html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
main {
    height: calc(100vh - 230px);
    position: relative;
    width: 100%;
}
main section {
    width: 100%;
    height: 100%;
}
/* slider | section 1 */
.wr-main-slider {
    padding: 0 60px;
}
.wr-main-slider .main-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 230px);
    border-radius: 20px;
}
.wr-main-slider .main-slider .items {
    display: flex;
    position: relative;
    left: 0;
    transition: 0.6s ease-out;
}
.wr-main-slider .main-slider .items .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    width: 100%;
}
.wr-main-slider .main-slider .items .item .dividers {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.wr-main-slider .main-slider .items .item .dividers > div:not(.arrows-box) {
    width: 1px;
    background: rgba(255, 255, 255, .1);
    height: 100%;
}
.wr-main-slider .main-slider .items .item .dividers .premiere {
    max-width: 69px;
    height: 64px;
    position: absolute;
    right: 0;
    top: 100px;
}
.wr-main-slider .main-slider .arrows-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: calc((100% - 1280px) / 2);
    bottom: 165px;
    z-index: 10;
}
.wr-main-slider .main-slider .arrows-box .arrow-right,
.wr-main-slider .main-slider .arrows-box .arrow-left {
    font-family: 'icon';
    font-size: 25px;
    color: var(--white);
    cursor: pointer;
}
.wr-main-slider .main-slider .arrows-box .arrow-right {
    transform: rotate(180deg);
}
.wr-main-slider .main-slider .arrows-box .arrow-right::before,
.wr-main-slider .main-slider .arrows-box .arrow-left::before {
    content: '\e902';
}
.wr-main-slider .main-slider .arrows-box .counter {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--white);
    margin: 55px 0;
}
.wr-main-slider .main-slider .items .item > img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: calc(100vh - 230px);
}
.wr-main-slider .main-slider .items .item .content {
    position: absolute;
    left: 335px;
    bottom: 140px;
}
.wr-main-slider .main-slider .items .item .content .title {
    font-family: 'DelaGothicOne', sans-serif;
    font-size: 48px;
    line-height: 53px;
    color: var(--white);
    margin-bottom: 20px;
    white-space: pre-line;
}
.wr-main-slider .main-slider .items .item .content .sub-title {
    font-weight: 500;
    line-height: 14px;
    color: var(--white);
    margin-bottom: 40px;
}
.wr-main-slider .main-slider .items .item .content .btn {
    border-color: var(--white);
    max-width: 204px;
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wr-main-slider .main-slider .items .item .content .btn .triangle {
    margin-left: 20px;
}
/*  */
/* slider logic and comp */
.dots,
.concerts .main-slider .bubles {
    z-index: 1;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    left: calc(100% - 156px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dots li:not(:last-child) {
    margin-bottom: 50px;
}
.dots li a,
.concerts .main-slider .bubles div {
    display: flex;
    justify-content: center;
    width: 4px;
    height: 5px;
}
.dots li a:before,
.concerts .main-slider .bubles div::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background:#d4d4d4;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.dots li a.active:before,
.concerts .main-slider .bubles div.active::before {
    content: '';
    background: var(--purple);
    width: 5px;
    height: 20px;
    transform: scale(1.0);
    border-radius: 4px;
}
/*  */
/* section 2 */
.concerts .top *б
.shop .top * {
    font-family: 'DelaGothicOne', sans-serif;
}
.concerts .top,
.shop .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.concerts .top h2,
.shop .top h2 {
    font-size: 36px;
    line-height: 36px;
}
.concerts .top a,
.shop .top a {
    line-height: 14px;
    text-decoration: underline;
}
.concerts .main-slider {
    height: unset;
    overflow: unset;
}
.concerts .main-slider .items .item {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 430px));
    grid-gap: 20px;
}
.concerts .main-slider .items .item .card {
    border: 1px solid #d4d4d4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    padding: 150px 0 150px 70px;
    height: 560px;
}
.concerts .main-slider .items .item .card.has-img {
    background: url(/resource/site/images/card-img.jpg) no-repeat center;
    background-size: cover;
    height: 580px;
}
.concerts .main-slider .items .item .card.has-img * {
    color: var(--white) !important;
    border-color: var(--white);
}
.concerts .main-slider .items .item .card .date {
    font-family: 'DelaGothicOne', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    letter-spacing: .04em;
}
.concerts .main-slider .items .item .card .country {
    font-size: 24px;
    line-height: 29px;
    white-space: pre-line;
    margin-bottom: 20px;
}
.concerts .main-slider .items .item .card .location {
    line-height: 20px;
    margin-bottom: 40px;
}
.concerts .main-slider .items .item .card .btn {
    max-width: 204px;
    color: var(--main);
    display: flex;
    align-items: center;
}
.concerts .main-slider .items .item .card .btn .arrow {
    transform: rotate(180deg);
    margin-left: 15px;
}
.concerts .main-slider .items .item .card .btn .arrow::before {
    content: '\e902';
    font-family: 'icon';
    font-size: 22px;
}
.concerts .main-slider .bubles {
    top: unset;
    bottom: -27px;
    flex-direction: row;
    left: unset;
    transform: unset;
    position: absolute;
}
.concerts .main-slider .bubles div {
    cursor: pointer;
    height: 4px;
    margin-bottom: 0;
}
.concerts .main-slider .bubles div:not(:last-child) {
    margin-right: 50px;
}
.concerts .main-slider .bubles div.active::before {
    width: 20px;
    height: 4px;
}
/*  */