@font-face {
    font-family: 'DelaGothicOne';
    src: url('/resource/site/admin/fonts/DelaGothicOne-r.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('/resource/site/admin/fonts/RobotoMono-r.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('/resource/site/admin/fonts/RobotoMono-m.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icon';
    src: url('/resource/site/admin/fonts/icon.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --white: #fff;
    --main: #060606;
    --purple: #5e00f7;
    --black: #0e0e0e;
}
* {
    padding: 0;
    margin: 0;
    color: var(--main);
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    font-family: 'RobotoMono', sans-serif;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
img {
    display: block;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
textarea,
.select-box,
select {
    -webkit-appearance: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 21px;
}
textarea {
    -webkit-appearance: none;
    resize: vertical;
    min-height: 180px;
    max-height: 300px;
}
input[type="submit"],
button,
.btn {
    -webkit-appearance: none;
    padding: 20px 40px;
    color: #fff;
    border: 2px solid var(--main);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: .35s;
    font-family: 'DelaGothicOne', sans-serif;
    font-size: 18px;
    line-height: 18px;
}
input[placeholder] {
    text-overflow: ellipsis;
}
::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #a6a6b1;
}
:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #f7f7f7 !important;
}
:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
::-moz-selection {
    background-color: rgba(94, 0, 247, 0.75);
    color: #fff;
}
::selection {
    background-color: rgba(94, 0, 247, 0.75);
    color: #fff;
}
footer {
    margin-top: auto;
}
input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
a {
    text-decoration: none;
    color: var(--main);
    cursor: pointer;
    transition: .35s;
}
.wrapper {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    padding: 35px 65px 55px 55px;
    height: 130px;
    z-index: 10;
    background: #fff;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
header nav .item a {
    font-family: 'DelaGothicOne', sans-serif;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: .02em;
}
header .cart::before,
header .profile::before {
    font-family: 'icon';
    font-size: 20px;
}
/* shop */
.shop .main-slider .items .item {
    display: grid;
    grid-template-columns: minmax(290px, 430px) minmax(300px, 880px) minmax(290px, 430px);
    grid-gap: 20px;
}
.shop .main-slider .items .item .card {
    border-radius: 30px;
    background: #fbfbfb;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.shop .main-slider .items .item .card img {
    width: 100%;
    object-fit: cover;
}
/*  */
header .cart::before {
    content: '\e903';
}
header .profile::before {
    content: '\e900';
}
footer {
    padding: 30px 60px 55px;
    height: 100px;
    background: var(--white);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer .top .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(125px, 240px));
    column-gap: 210px;
    justify-content: center;
}
footer .top .grid-container .item {
    display: flex;
    flex-direction: column;
}
footer .top .grid-container .item a {
    font-weight: 500;
    line-height: 34px;
}
footer .top .grid-container .item .footer-title,
footer .top .grid-container .item .footer-title a {
    font-family: 'DelaGothicOne', sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 30px;
}
footer .bottom {
    display: flex;
    align-items: center;
}
footer .bottom .socials {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .bottom .socials .icon::before {
    font-family: 'icon';
    font-size: 20px;
    color: var(--main);
}
footer .bottom .socials .insta::before {
    content: '\e904';
}
footer .bottom .socials .tg::before {
    content: '\e907';
}
footer .bottom .socials .vk::before {
    content: '\e909';
}
footer .bottom .socials .yt::before {
    content: '\e90a';
}
footer .bottom .socials .tiktok::before {
    content: '\e908';
}
footer .bottom .scroll {
    padding: 0;
    border: unset;
    margin: 0 auto;
    animation: bounce 1.5s infinite ease-in;
}
footer .bottom .scroll::before {
    content: '\e905';
    font-family: 'icon';
    color: #d4d4d4;
    font-size: 21px;
}
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
    }
    75% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}
footer .bottom .mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: underline;
}